# DC general config
---
fabric_name: EMEA

# Point to Point Network Summary range, assigned as /31 for each uplink interfaces
# Assign range larger then total [ spines * total potential leafs * 2 ]
underlay_p2p_network_summary: 172.31.255.0/24
underlay_routing_protocol: EBGP

# IP address range for evpn loopback for all switches in fabric, assigned as /32s
# Assign range larger then total spines + total leafs switches
overlay_loopback_network_summary: 192.168.255.0/24

# VTEP VXLAN Tunnel source loopback IP for leaf switches, assigned in /32s
# Assign range larger then total leaf switches
vtep_loopback_network_summary: 192.168.254.0/24

# super_spine_underlay_p2p_network_summary: 172.16.11.0/24

# local users
local_users:
  # Username with no password configured
  admin:
    privilege: 15
    role: network-admin
    no_password: true

  # Username with a password
  alumne:
    privilege: 15
    role: network-admin
    sha512_password: "THISISATEST"

# OOB Management network default gateway.
mgmt_gateway: 192.168.0.1
mgmt_destination_networks:
  - 192.168.0.0/24
  - 0.0.0.0/0

dns_domain: atd.lab

# dns servers.
name_servers:
  - 1.1.1.1
  - 8.8.8.8

# NTP Servers IP or DNS name, first NTP server will be prefered, and sourced from Managment VRF
ntp_server:
  local_interface: 
    interface: Management1
  nodes:
    - 192.168.0.1

radius_servers:
  - host: 192.168.0.1
    key: 0207165218120E
