---
port_profiles:
  Tenant_A_OP_Zone_Test:
    mode: access
    vlans: "112"
  TENANT_A_ALL:
    mode: trunk
    vlans: "110-119,120-130,160-161"

servers:
  TENANT_A_SRV1:
    adapters:
      - server_ports: [ Eth1,Eth2 ]
        switch_ports: [ Ethernet4, Ethernet4 ]
        switches: [ EMEA_NORTH_01_LEAF1A,EMEA_NORTH_01_LEAF1B ]
        profile: TENANT_A_ALL
